<nav>
    <a href="/confirmation-success">Confirmation-success</a><br>
    <a href="/dashboard">Dashboard</a><br>
    <a href="/document">Document</a><br>
    <a href="/layout">Layout</a><br>
    <a href="/login">Login</a><br>
    <a href="/personal">Personal</a><br>
    <a href="/preview">Preview</a><br>
    <a href="/profile">Profile</a><br>
    <a href="/register">Register</a><br>
    <a href="/selfie">Selfie</a><br>
    <a href="/settings">Settings</a><br>
    <a href="/success">Success</a><br>
    <a href="/logout">Logout</a>
  </nav>
  