 /* @import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic"); */

/*
	IdyllAc workspace of the mean page
*/

/* reset */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
  }

body {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	font: inherit;
	background-color: gray;
	line-height: 1px;

} 


  /* Basic */

  html {
	  box-sizing: border-box;
	  scroll-behavior:smooth;
	}  


  header a:hover {
			color: orange;
			border-bottom-color: transparent;
		} 

		.btn-link {
			display:inline-block;
			width: 22%;
			height: 2em;
			margin: auto;
			text-align: center;
			background-color: green;
			color: whitesmoke;
			text-justify:auto;
			border-radius: 5px;
			border: none;
			cursor: pointer;
			line-height: 2.25rem;
			text-decoration: none; /* remove underline */
		  }
		  
		  .btn-link a:hover {
			background-color: darkgreen;
		  }


    .responsive {
	    width: 50%;
	    height: auto;
    } 


  /* Image */
		
    img {
		display: block;
	    margin: 20px auto;
		width: 50%;
		height: auto;
    }

  
	/* Nav */

	#nav {
		background-color: #333;
		display: block;
		margin: 0;
		padding-bottom: 0; 
		text-align: center;
		cursor: default;
		height: auto;		
	}

		/* #nav:after {
			content: '';
			display: block;
			width: 100%;
			height: 0.50em; 
			background-color: #37c0fb;
			background-image: url("images/bg01.png");
		} */

		#nav > ul {
			margin: 0;
		}
       
		   /* #nav > ul > li {
				position: relative;
				display: inline-block;
				margin-left: 1em;
			} */

				#nav > ul > li a {
					color: whitesmoke;
					text-decoration: none;
					display: block; 
					padding: 1.5em 1em 0.8em 0;
					font-size: 2em !important; 
				}

				/* #nav > ul > li:first-child {
					margin-left: 0;
				} */

				#nav > ul > li a:hover {
					color: orange;
				} 
				#nav > ul > li a:active {
					color: limegreen;
				} 

				/* #nav > ul > li.current {
					font-weight: 300;
				}  */


				
			     /* #nav > ul > li.current:before {
						-moz-transform: rotateZ(45deg);
						-webkit-transform: rotateZ(45deg);
						-ms-transform: rotateZ(45deg);
						transform: rotateZ(45deg);
						width: 0.75em;
						height: 0.75em;
						content: '';
						display: block;
						position: absolute;
						bottom: -0.5em;
						left: 50%; 
						margin-left: -0.375em;
						background-color: #37c0fb;
				}   */

				 #nav > ul > li.current a {
						color: #fff;
				} 

				#nav > ul > li.active a {
					color: limegreen;
				}

				#nav > ul > li.active.current:before {
					opacity: 0;
				}

				#nav > ul > li > ul {
					display: none;
				}  
				   

  /* Banner */

  #banner {
		background-image: url("../img/banner.jpg");
		 /* background-position: center; */
		background-size:cover;
		margin:0;
		padding: 0;
		width: 100%;
		height: auto;
		text-align: center;
		/* position: relative;
        align-content: center; */
		/* font-size:clamp(0.8rem,3vw,1.65rem);  */
	}

		  #banner header {
			background-size:cover; 
			background: rgba(27, 27, 27, 0.75);
			padding: 0.2rem 0 2rem 0;
		} 
		
		 #banner header h1 {
			display:block;
			margin: auto;
			padding: 1rem 0 0.25rem 0;
			font-family: Georgia, 'Times New Roman', Times, serif;
			line-height: normal;
			color:whitesmoke;
			font-size:clamp(1.25rem,3vw,5rem);
			
		}

			
		  #banner  header  h3 { 
				display: block;
				margin: auto;
				padding: 1rem 0 0.25rem 0;
				font-family: Georgia, 'Times New Roman', Times, serif;
				line-height: normal;
				color: whitesmoke;
				font-size:clamp(1.25rem,2vw,1.65rem);
			 }  

			 #banner  header a {
				background-color: green;
				display: inline-block;
				margin: 1rem 0 0 0;
				text-indent: 0;
				color: whitesmoke;
				text-decoration:none;
				letter-spacing: 0.7px;
				border-radius: 5px;
				border: none;
				cursor: pointer;
				font-size:clamp(1rem,2vw,1.5rem);	
			 }

			#banner header a:hover {
				background-color: darkgreen;
				color: orange;
			  }

			#banner header a:active {
				background-color: orange;
				color: #000;
			  }


   /* Wrapper */
		 .wrapper {
			background-image: url("../img/banner.jpg");
			background-size:cover; 
			margin: auto;
			padding: 1rem 0 2rem 0;
            height: auto;
            font: 0.9em sans-serif;
		} 

		/* .major hr {
			display: block; 
			margin: auto; 
			width: 20%;
		} */
		

		.major h2 {
			display: block;
		    margin: auto;
			text-align:center; 
			color: bisque;
			line-height: normal;
			letter-spacing: 1px;
			font-size:clamp(1rem,3vw,1.5rem);
		}

        .major h3 {
		display: block;
		margin: auto;
		text-align: center;
		padding: 0 0 1rem 0;
		color: lime;		
		line-height: normal;
		letter-spacing: 1px;
		font-size:clamp(1rem,3vw,1.5rem);
        }
	

		