/* @import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic"); */

/*
	IdyllAc workspace of the mean page
*/

/* reset */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
  }

  body {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	/* font: inherit; */
	font-family:Arial,sans-serif;
	background-color: gray;
	line-height: 1px;

} 


  html {
	  box-sizing: border-box;
	  scroll-behavior:smooth;
	}  

  
  /* header a:hover {
			color: orange;
			border-bottom-color: transparent;
		}  */


 /* Container */
	
	/* .content {
		box-sizing: border-box;
		display: block;
		margin-top:0;
		background-color: rgba(27, 27, 27, 0.75);
		color: whitesmoke;
		padding: 1px 8rem;
		text-align: center;
		line-height: 0.5rem;
		font-size: small;
		position: sticky;
	    } */


	.responsive {
		display: block;
		width: 100%;
		height: auto;
	  }


  /* Image */
		
	img {
		display:block;
		margin: auto;
		width: 60%;
		height: auto;	
	}

				  

  /* BBANNER */

/* BANNER */
/* .banner{
	min-height:50vh;
	display:grid;
	place-items:center;
	font-size:clamp(2rem,5vw,4rem);
  } */

    #banner{
		background-image: url("../img/banner.jpg");
		/* background-position: center; */
		background-size:cover;
		margin: 50px;
		padding: 50px 0 0 0;
		position: relative; 
		/* place-items: center; */
		min-height: 6em;
		font-size:clamp(2rem,5vw,4rem);
		
	}

	/* #banner header{
			background-image: url("../img/banner.jpg");
			position: absolute;
			background-size:cover; 
			background-color: rgba(27, 27, 27, 0.75);
			height: auto;
		} 

		

		#banner h1 {
			display:block;
			margin:auto;
			text-align: center;
			padding:1rem 0.5rem 0.5rem 0;
			line-height: 100%;
			font-family: Georgia, 'Times New Roman', Times, serif;
			color:whitesmoke;
			letter-spacing: 1px;
		} */



		/* WRAPPER*/
		/* WRAPPER */
/* .wrapper{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
	gap:1rem;
	padding:2rem 5%;
  }
  
  .card{
	padding:2rem;
	border:1px solid #ccc;
  } */

  /* .width {
	width:min(1200px, 100% - 2rem);
    margin:auto;
  } */

  /* .grid {
	display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  } */

  /* .flex {
	display:flex;
flex-wrap:wrap;
gap:1rem;
  } */

  /* Use This Stack
Header = Flexbox
Navigation = Flexbox
Content sections = Grid
Banner = min-height + center
Wrapper = width:min(...)
Typography = clamp() */

		.wrapper {
			/* background-image: url("../img/banner.jpg"); */
			margin: auto;
			margin: 50px;
			padding: 10px 0px;
			background-color: rgba(27, 27, 27, 0.75);
			background-size:cover; 
			height: auto;		
		} 



		.major h1 {
			display:block;
			margin:auto;
			text-align: center;
			padding:1rem 1.5rem 0.5rem 0.5rem;
			line-height: 100%;
			font-family: Georgia, 'Times New Roman', Times, serif;
			color:whitesmoke;
			letter-spacing: 1px;
			font-size:clamp(1rem,3vw,4rem);
		}
		

		 .major h2 {
			 display: block;
			 margin: auto;
			text-align: center;
			padding: 0.5em 0;
			 color:lime;
			 line-height: 130%;
			 font-family: Georgia, 'Times New Roman', Times, serif;
			 letter-spacing: 1px;
			 font-size:clamp(0.5rem,3vw,1.5rem);
			}
			

		  br


		  .major h3 { 
				display: block;
				margin: auto;
				text-align: center;
				padding: 0.5em 0;
				color: lime;
				line-height: 50%;
				font-family: Georgia, 'Times New Roman', Times, serif;
				letter-spacing: 1px;
				font-size:clamp(1rem,3vw,1.5rem);
			 }  


			 .major h4 { 
				display: block;
				margin: auto;
				text-align: center;
				padding: 0.5em 0;
				color:blanchedalmond;
				line-height: normal;
				font-family: Georgia, 'Times New Roman', Times, serif;
				letter-spacing: 1px;
				font-size:clamp(1rem,3vw,1.5rem);
			 }  


			 .btn-link {
			    display: block;
				width: 60%;
				height: 2.5em;
				margin: 1em auto;
				padding-top: 0.3em;
				text-align: center;
				background-color: green;
				color: whitesmoke;
				text-justify:auto;
				border-radius: 5px;
				border: none;
				cursor: pointer;
				line-height: 2.35rem;
				text-decoration: none; /* remove underline */
				font-size:clamp(1rem,3vw,1.5rem);
			  }
			  
			  .btn-link:hover {
				background-color: darkgreen;
			  }

			  .btn-link:active {
				background-color: lime;
			  }

